/*font family*/

    @font-face{}

/*font family*/

/*Common css Start*/

body{
	margin: 0;
/*	background-color: #f70808;*/
}

/*Common css End*/

/*Header start*/

header{
	padding: 25px 0 0;
	text-align: center;
}

header h1{
	font-size: 60px;
}

/*Header end*/

/*Banner start*/

.banner{
	padding: 25px 0;
}

.container{
	padding: 0;
	max-width: 95%;
	overflow: hidden;
/*	border: 1px solid red;*/
}

.b_content{
	margin: 1% 1%;
	width: 31.3%;
	box-sizing: border-box;
	float: left;
/*	border: 1px solid green;*/
}

.b_img{}

.b_img img{
	width: 100%;
}

.b_content h1{
	margin: 15px 0 25px;
	font-size: 25px;
}

.b_content p{
	font-size: 15px;
}

/*Banner end*/